<!DOCTYPE html>
{% extends "template.html" %}
{% set active_page = "resume" %}

{% block content %}
	<div class="bg"></div>
		<div class="container">
		    <div class="resume">
		    	<div class="title">
		      		<h1><b>Charles "Rudy" DeBerry</b></h1>
		      		<h3>i like money.</h3>
		    	</div>
		    	<div class="education">
		    		<h3>Education</h3>
		    		<div class="block">
			    		<div class="left-block">
			    			<div class="left-block-title">Northwestern University</div>
			    			<div class="years">2013 - 2017</div>
			    		</div>
			    		<div class="right-block">
			    			<div class="right-block-title">B.S. Economics, Communication Studies, Business Institutions Minor</div>
			    			<div class="right-block-description">Marketing focus with project-based coursework in Marketing Management,<br> Consumer Insight, and Media Markets.</div>
			    	</div>
		    	</div>
		    	<div class="experience">
		    		<h3>Work Experience</h3>
		    		<div class="block">
			    		<div class="left-block">
			    			<div class="left-block-title">The Garage</div>
			    			<div class="years">March 2016 - Present</div>
			    		</div>
			    		<div class="right-block">
			    			<div class="right-block-title">
			    			Marketing Intern
			    			</div>
			    			<div class="right-block-description">
			    			Guerilla and digital marketing for The Garage, Northwestern's<br> entrepreneurial/start-up space. Event and sponsorship planning, as well as<br> on-campus marketing and managing e-mail lists.
			    			</div>
			    		</div>
			    	</div>
			    	<div class="block">
			    		<div class="left-block">
			    			<div class="left-block-title">Henry Crown Sports Pavilion</div>
			    			<div class="years">May 2015 - March 2016</div>
			    		</div>
			    		<div class="right-block">
			    			<div class="right-block-title">
			    			Membership Services Representative
			    			</div>
			    			<div class="right-block-description">
			    			Providing phone and face-to-face customer service for gym,<br> aquatics center, and massage therapy suite. Developing an online<br> system for managing and scheduling massage therapy appointments<br> using Google Sheets.
			    			</div>
			    		</div>
			    	</div>
			    	<div class="block">
			    		<div class="left-block">
			    			<div class="left-block-title"><b>Jay B. Ross &amp; Associates, P.C.</b>
			    			</div>
			    			<div class="years">June - September 2015</div>
			    		</div>
			    		<div class="right-block">
			    			<div class="right-block-title">
			    			Legal Intern
			    			</div>
			    			<div class="right-block-description">
			    			Researching and filing for termination and recapture of<br> publishing rights for blues artist Lead Belly&#39s musical catalog.
			    			</div>
			    		</div>
			    	</div>
			    	<div class="block">
			    		<div class="left-block">
			    			<div class="left-block-title">Weinberg College of Arts and Sciences<br> Web Communications</div>
			    			<div class="years">October 2013 - May 2015</div>
			    		</div>
			    		<div class="right-block">
			    			<div class="right-block-title">
			    			Archive Content Specialist
			    			</div>
			    			<div class="right-block-description">
			    			Managing digital assets using Extensis Portfolio software by creating an<br> organizational system for audio, video, and text content and distributing<br> it to content creators as needed.
			    			</div>
			    		</div>
			    	</div>
		    	<div class="other-experience">
		    		<h3>Other Experience</h3>
		    		<div class="block">
			    		<div class="left-block">
			    			<div class="left-block-title">WNUR Streetbeat 89.3 FM</div>
			    			<div class="years">March 2014 - Present</div>
			    		</div>
			    		<div class="right-block">
			    			<div class="right-block-title">
			    			Apprenticeship Director
			    			</div>
			    			<div class="right-block-description">
               				Recruiting new members and developing a personalized apprenticeship<br> program to meet FCC and station requirements. Hosting a weekly Tech<br> House radio show 12-1am Tuesday nights.
			    			</div>
			    		</div>
			    	</div>
			    	<div class="block">
			    		<div class="left-block">
			    			<div class="left-block-title">World Individual Debate and Public Speaking Championships</div>
			    			<div class="years">March 30 - April 5 2013</div>
			    		</div>
			    		<div class="right-block">
			    			<div class="right-block-title">
			    			Competitor
			    			</div>
			    			<div class="right-block-description">
			    			Competed in debate, after dinner speaking, and impromptu speaking <br>competitions with 111 students from 14 countries.
			    			</div>
			    		</div>
			    	</div>
		    	<div class="skills">
		    		<h3>Skills</h3>
		    		<div class="block">
			    		<div class="languages"><b>Languages:</b> Python, HTML, CSS</div>
			    		<div class="programs"><b>Programs:</b> Microsoft Office, Google Apps for Work, Adobe Photoshop/Lighroom,<br> Adobe Audition, Adobe After Effects, Extensis Portfolio</div>
			    		<div class="other skills"><b>Other Skills:</b> PC Building</div>
			    	</div>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
