<!DOCTYPE html>
{% extends "template.html" %}
{% set active_page = "resume" %}

{% block content %}
				<!-- <div class="container"> -->
				    <div class="resume">
				    	<div class="title">
				      		<h1>
										<b>Charles "Rudy" DeBerry III</b>
										<a class="icon" href='https://www.linkedin.com/in/charles-deberry-iii-485baba4' target="_blank">
											<i class="fa fa-linkedin-square"></i>
										</a>
										<a class="icon" href='https://github.com/el-komandante' target='_blank'>
											<i class="fa fa-github-square" aria-hidden="true"></i>
										</a>
										<a href='https://s3.amazonaws.com/my-resume-0001/resume/Charles+DeBerry+Technical+Resume+Nov+2016.pdf' class="icon">
											<i class="fa fa-download" aria-hidden="true"></i><small>(PDF)</small>
										</a>
									</h1>
									<h3 class="caption">Programmer, Data Analyst</h3>
									<div class='glyphs'>
										<span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Chicago, IL<br>
										<i class="fa fa-envelope"></i>&nbsp;&nbsp;rudydeberry( at )hotmail( dot )com<br>
										<!-- <a class='soundcloud' href='https://www.soundcloud.com/dj_gooon' target="_blank"><i class="fa fa-soundcloud"></i></a> -->
									</div>
				    	</div>
				    	<div class="education">
				    		<h3>Education</h3>
				    		<div class="block">
					    		<div class="left-block">
					    			<div class="left-block-title">Northwestern University</div>
					    			<div class="years">2013 - 2017</div>
					    		</div>
					    		<div class="right-block">
					    			<div class="right-block-title">B.S. Communication Studies, Business Institutions Minor</div>
					    			<div class="right-block-description">
											<ul class='details'>
												<li>
													Communication Technology focus with project-based coursework in Programming, Media <br />Technology, and Consumer Insight
												</li>
											</ul>
										</div>
					    	</div>
				    	</div>
				    	<div class="experience">
				    		<h3>Work Experience</h3>
								<div class='block'>
									<div class='left-block'>
										<div class='left-block-title'>The LISA App</div>
										<div class='years'>June 2016 - Present</div>
									</div>
									<div class='right-block'>
										<div class='right-block-title'>
											Developer Intern
										</div>
										<div class='right-block-description'>
											<ul class='details'>
												<li>
													Created Mailchimp API integration with PostgreSQL database and Node.js backend to<br />automatically update email lists of 5000+ subscribers
												</li>
												<li>
													Create and analyze SQL database reports to proivide accurate, actionable information <br />to sales and marketing departments
												</li>
												<li>
													Manage Salesforce data to coordinate sales efforts and ensure awareness of all <br />sales-related communications
												</li>
											</ul>
										</div>
									</div>
								</div>
				    		<div class="block">
					    		<div class="left-block">
					    			<div class="left-block-title">The Garage</div>
					    			<div class="years">March 2016 - May 2016</div>
					    		</div>
					    		<div class="right-block">
					    			<div class="right-block-title">
					    			Marketing Intern
					    			</div>
					    			<div class="right-block-description">
											<ul class='details'>
												<li>
													Promoted tech and entrepreneurship workshops and speakers to Northwestern's <br />startup/entrepreneurship community using social media, digital, and guerrilla marketing
												</li>
												<li>
													Increased on-campus awareness of The Garage by coordinating sponsorship of Dillo Day, <br />Northwestern’s annual music festival
												</li>
												<li>
													Created promotional materials for use in The Garage’s publications and marketing campaigns
												</li>
											</ul>
					    			</div>
					    		</div>
					    	</div>
					    	<!-- <div class="block">
					    		<div class="left-block">
					    			<div class="left-block-title"><b>Jay B. Ross &amp; Associates, P.C.</b>
					    			</div>
					    			<div class="years">June - September 2015</div>
					    		</div>
					    		<div class="right-block">
					    			<div class="right-block-title">
					    			Legal Intern
					    			</div>
					    			<div class="right-block-description">
											<ul class='details'>
												<li>
													Researched copyright law to file for termination and recapture of publishing rights for blues <br />artist Lead Belly’s musical catalog on behalf of his surviving descendants
												</li>
												<li>
                          Corresponded with clients and recording industry executives to obtain necessary personal <br />information and signatures
												</li>
											</ul>
					    			</div>
					    		</div>
					    	</div> -->
					    	<div class="block">
					    		<div class="left-block">
					    			<div class="left-block-title">Weinberg College of Arts and Sciences <br>Web Communications</div>
					    			<div class="years">October 2013 - May 2015</div>
					    		</div>
					    		<div class="right-block">
					    			<div class="right-block-title">
					    			Archive Content Specialist
					    			</div>
					    			<div class="right-block-description">
											<ul class='details'>
												<li>
													Developed and executed best practices for managing over 10000 photo, video, and text assets <br />to facilitate efficient access by creative staff, using Extensis Portfolio Digital Asset Management <br />software
												</li>
												<li>
													Produced photo, video, and slideshow content for the Northwestern alumni social network, <br />Our Northwestern, to keep alumni updated on current events in the Northwestern community
												</li>
												<li>
													Photographed Northwestern campus and students for use in University promotional materials
												</li>
											</ul>
					    			</div>
					    		</div>
					    	</div>
								<h3>Projects</h3>
								<div class="block">
									<div class="left-block">
										<div class="left-block-title">Storyline (in progress)</div>
										<div class="years">September 2016 - Present</div>
									</div>
									<div class="right-block">
										<div class="right-block-title">Line Chart Creation Tool</div>
										<div class="right-block-description">
											<ul class="details">
												<li>
													Gathered project requirements by interviewing data journalists, students, and newsreaders to <br />reveal insights to guide development
												</li>
												<li>
													<b>Technologies used:</b> TBD
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="block">
									<div class="left-block">
										<div class="left-block-title">lift.it (in progress)</div>
										<div class="years">May 2016 - Present</div>
									</div>
									<div class="right-block">
										<div class="right-block-title">Fitness Activity Tracker</div>
										<div class="right-block-description">
											<ul class="details">
												<li>
													Combined Flask and SQLAlchemy with a PostgreSQL database to store users' fitness activities
												</li>
												<li>
													Created an analytics dashboard which allows users to dynamically create line charts<br />
													tracking their performance in cardio/strength training exercises
												</li>
												<li>
													Used jQuery and Bootstrap to create an attractive, intuitive front end
												</li>
												<li>
													<b>Technologies used:</b> Python, Flask, PostgreSQL, chart.js, jQuery, Bootstrap, HTML5/CSS3
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="block">
									<div class="left-block">
										<div class="left-block-title">crimemaps.nu</div>
										<div class='years'>March 2015 - Present</div>
									</div>
									<div class="right-block">
										<div class="right-block-title">Crime Data Visualization</div>
										<div class="right-block-description">
											<ul class="details">
												<li>
													Scraped and geocoded crime incident data from Northwestern University police <br />department website
												</li>
												<li>
													Visualized yearly incident data using clustered maps, histograms, and bar graphs
												</li>
												<li>
													<b>Technologies used:</b> Python (web scraping), Folium (mapping), Plot.ly, OpenCage Geocoder API
												</li>
											</ul>
										</div>
									</div>
								</div>
				    	<div class="other-experience">
				    		<h3>Leadership</h3>
				    		<div class="block">
					    		<div class="left-block">
					    			<div class="left-block-title">WNUR Streetbeat 89.3 FM</div>
					    			<div class="years">March 2015 - May 2016</div>
					    		</div>
					    		<div class="right-block">
					    			<div class="right-block-title">Apprenticeship Director</div>
					    			<div class="right-block-description">
											<ul class='details'>
												<li>
													Recruited new members and developed an apprenticeship program compliant with FCC and <br />station requirements
												</li>
												<li>
													Hosted a weekly Tech House/Techno radio show Tuesday nights 12-1am
												</li>
												<li>
													Instructed apprentices in proper operation of DJ equipment, mixing, and performance
												</li>
											</ul>
					    			</div>
					    		</div>
					    	</div>
					    	<div class="block">
					    		<div class="left-block">
					    			<div class="left-block-title">World Individual Debate and Public Speaking Championships</div>
					    			<div class="years">March 30 - April 5 2013</div>
					    		</div>
					    		<div class="right-block">
					    			<div class="right-block-title">
					    			Competitor
					    			</div>
					    			<div class="right-block-description">
											<ul class='details'>
												<li>
													Competed in debate, after dinner speaking, and impromptu speaking competitions with 111 <br />students from 14 countries
												</li>
											</ul>
					    			</div>
					    		</div>
					    	</div>
				    	<div class="skills">
				    		<h3>Additional</h3>
				    		<div class="block">
					    		<div class="languages"><b>Programming Languages/Libraries:</b> Python, JavaScript, React.js, d3.js, jQuery, HTML, CSS, PostgreSQL</div>
					    		<div class="programs"><b>Programs/Web Services:</b> Salesforce, Mailchimp, Amazon Web Services, Adobe Photoshop/Lighroom, Extensis Portfolio, Synap</div>
									<div class='interests'><b>Interests:</b> Camping, House Music, PC Building</div>
					    	</div>
		          </div>
		        </div>
					</div>
				</div>
			</div>
		<!-- </div> -->
{% endblock %}
