<!DOCTYPE html>
{% set navigation_bar = [
('/resume/', 'resume', 'Resume'),
('/projects/', 'projects', 'Projects'),
('/blog/', 'blog', 'Blog')
] -%}
{% set active_page = active_page|default('index') -%}
<html lang="en">
  <head>
    <title>Rudy DeBerry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
  </head>
  <body>
    <nav>
      <div class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navlist" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Rudy DeBerry</a>
          </div>
          <ul class="nav navbar-nav list-hover-slide collapse navbar-collapse" id="navlist">
            {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif
          %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="bg"></div>
    <div class='container'>
      {% block content %}
      {% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- <script src="/static/js/jquery.smoothState.min.js"></script>
    <script src="/static/js/function.js"></script> -->
  </body>
</html>
